venv/

PruebaCodeBert/__pycache__/

PruebaCodeBert/repositorio_openemr/
PruebaCodeBert/Resultados prueba/

# EntrenamientoCodeBert/data/
# EntrenamientoCodeBert/__pycache__/
# EntrenamientoCodeBert/results10epocas/
# EntrenamientoCodeBert/results5epocas/
EntrenamientoCodeBert/

PruebaCodeBert/explicaciones-prueba-lime