venv/

PruebaCodeBert/repositorio_openemr/
PruebaCodeBert/checkpoint-5420/

PruebaCodeBert/explicaciones-prueba-lime/
PruebaCodeBert/explicabilidad pdf y pngs/

modelo/model.safetensors
modelo/optimizer.pt