venv/

PruebaCodeBert/__pycache__/

PruebaCodeBert/repositorio_openemr/
PruebaCodeBert/checkpoint-5420

EntrenamientoCodeBert/

PruebaCodeBert/explicaciones-prueba-lime
PruebaCodeBert/explicabilidad pdf y pngs
